In [12]:
##Evaluating ML Models for Heart Disease Prediction

In [14]:
import numpy as np
import pandas as pd

In [18]:
#Load the Dataset

In [22]:
file = 'heart.csv'
heart = pd.read_csv(file)

In [24]:
heart.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,52,1,0,125,212,0,1,168,0,1.0,2,2,3,0
1,53,1,0,140,203,1,0,155,1,3.1,0,0,3,0
2,70,1,0,145,174,0,1,125,1,2.6,0,0,3,0
3,61,1,0,148,203,0,1,161,0,0.0,2,1,3,0
4,62,0,0,138,294,1,1,106,0,1.9,1,3,2,0

In [26]:
#Looking at the Data

In [28]:
heart.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1025 entries, 0 to 1024
Data columns (total 14 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       1025 non-null   int64
 1   sex       1025 non-null   int64
 2   cp        1025 non-null   int64
 3   trestbps  1025 non-null   int64
 4   chol      1025 non-null   int64
 5   fbs       1025 non-null   int64
 6   restecg   1025 non-null   int64
 7   thalach   1025 non-null   int64
 8   exang     1025 non-null   int64
 9   oldpeak   1025 non-null   float64
 10  slope     1025 non-null   int64
 11  ca        1025 non-null   int64
 12  thal      1025 non-null   int64
 13  target    1025 non-null   int64
dtypes: float64(1), int64(13)
memory usage: 112.2 KB

In [30]:
heart.describe()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
count,1025.000000,1025.000000,1025.000000,1025.000000,1025.00000,1025.000000,1025.000000,1025.000000,1025.000000,1025.000000,1025.000000,1025.000000,1025.000000,1025.000000
mean,54.434146,0.695610,0.942439,131.611707,246.00000,0.149268,0.529756,149.114146,0.336585,1.071512,1.385366,0.754146,2.323902,0.513171
std,9.072290,0.460373,1.029641,17.516718,51.59251,0.356527,0.527878,23.005724,0.472772,1.175053,0.617755,1.030798,0.620660,0.500070
min,29.000000,0.000000,0.000000,94.000000,126.00000,0.000000,0.000000,71.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,48.000000,0.000000,0.000000,120.000000,211.00000,0.000000,0.000000,132.000000,0.000000,0.000000,1.000000,0.000000,2.000000,0.000000
50%,56.000000,1.000000,1.000000,130.000000,240.00000,0.000000,1.000000,152.000000,0.000000,0.800000,1.000000,0.000000,2.000000,1.000000
75%,61.000000,1.000000,2.000000,140.000000,275.00000,0.000000,1.000000,166.000000,1.000000,1.800000,2.000000,1.000000,3.000000,1.000000
max,77.000000,1.000000,3.000000,200.000000,564.00000,1.000000,2.000000,202.000000,1.000000,6.200000,2.000000,4.000000,3.000000,1.000000

In [32]:
heart.columns

Index(['age', 'sex', 'cp', 'trestbps', 'chol', 'fbs', 'restecg', 'thalach',
       'exang', 'oldpeak', 'slope', 'ca', 'thal', 'target'],
      dtype='object')

In [34]:
heart.isna().sum()

age         0
sex         0
cp          0
trestbps    0
chol        0
fbs         0
restecg     0
thalach     0
exang       0
oldpeak     0
slope       0
ca          0
thal        0
target      0
dtype: int64

In [44]:
#Preprocessing and Cleaning the Dataset

In [40]:
#Splitting the Data

In [42]:
#Train the Model

In [49]:
#Feature selection  (Chia-Wei)

In [93]:
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier


# Assuming 'heart' DataFrame is already loaded
X, y = heart.drop('target', axis=1), heart['target']

# Extract feature names from the DataFrame
feature_names = X.columns

# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.3, random_state=42
)

# Train the Random Forest model
model = RandomForestClassifier(n_estimators=100, random_state=42)
model.fit(X_train, y_train)

# Evaluate the model on the test set
accuracy = model.score(X_test, y_test)

print("Model accuracy:", accuracy)


# Get feature importances
importances = model.feature_importances_

# Create a DataFrame for feature importances
feature_importance_df = pd.DataFrame({
    "feature_names": feature_names,
    "importances": importances
}).sort_values(by="importances", ascending=False)

# Print the feature importance rankings
print("feature importance rankings：")
print(feature_importance_df)

Model accuracy: 0.9805194805194806
feature importance rankings：
   feature_names  importances
2             cp     0.132274
7        thalach     0.125039
11            ca     0.122912
9        oldpeak     0.122852
12          thal     0.113005
0            age     0.085554
4           chol     0.079872
3       trestbps     0.068356
10         slope     0.051335
8          exang     0.042210
1            sex     0.028721
6        restecg     0.018155
5            fbs     0.009714

In [95]:
# List of features to remove
features_to_remove = ['slope', 'sex', 'exang', 'restecg', 'fbs']

# Remove the specified features
X_reduced = X.drop(columns=features_to_remove)

# Split the reduced dataset into training and testing sets
X_train_reduced, X_test_reduced, y_train, y_test = train_test_split(
    X_reduced, y, test_size=0.3, random_state=42, stratify=y
)

# Train the Random Forest model on the reduced dataset
model_reduced = RandomForestClassifier(n_estimators=100, random_state=42)
model_reduced.fit(X_train_reduced, y_train)

# Evaluate the model on the test set
accuracy = model_reduced.score(X_test_reduced, y_test)

print("Model accuracy after removing low-importance features:", accuracy)

# Get the new feature importances
importances_reduced = model_reduced.feature_importances_

# Create a new DataFrame for the reduced feature importances
feature_importance_reduced_df = pd.DataFrame({
    "feature_names": X_reduced.columns,
    "importances": importances_reduced
}).sort_values(by="importances", ascending=False)

# Print the updated feature importance rankings
print("\nUpdated feature importance rankings after removal:")
print(feature_importance_reduced_df)

Model accuracy after removing low-importance features: 0.9902597402597403

Updated feature importance rankings after removal:
  feature_names  importances
1            cp     0.180421
5       oldpeak     0.140110
4       thalach     0.138725
6            ca     0.126526
0           age     0.120697
7          thal     0.110936
3          chol     0.091301
2      trestbps     0.091285